.footer{
    /* Why my footer not going in end? */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    
    background-color: #333;
    background-color:rgb(248, 185, 107);


}
.p{
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
}