.hero{
    margin: 150px 6%;
    padding: 1em  ;
    width: 300px;
    background:rgb(248, 185, 107);
    text-align: center;
    border-radius: 10px;
    position:static;
    color:rgb(0, 0, 0);
    box-shadow: 0px 0px 5px rgb(248, 185, 107);
    /* how to little bit righter */
    transform: translateX(350px);
    /* i want to big my card including text */
 
    
  }
  .hero:hover{
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    transition: 0.3s;
    background:rgba(21, 10, 4, 1);
    color: white;
  }
